{% extends "base.html" %}
{% block content %}
    <section class="max-w-5xl mx-auto py-16 px-6">
        <!-- Título -->
        <h1 class="text-4xl font-bold text-white mb-4">{{ project.title }}</h1>
        <!-- Subtítulo -->
        <p class="text-gray-300 text-lg mb-8">{{ project.description }}</p>
        <!-- Imagem principal -->
        <img src="{{ project.image }}"
             alt="{{ project.title }}"
             class="rounded-xl shadow-lg w-full mb-12">
        <!-- Conteúdo detalhado (HTML manual) -->
        <article class=" prose prose-invert mx-auto max-w-3xl  prose-headings:text-slate-100 prose-headings:font-bold  prose-h2:text-3xl prose-h2:mt-12 prose-h2:mb-4 prose-h3:text-xl prose-h3:mt-8 prose-h3:mb-2  prose-p:text-slate-300 prose-p:leading-relaxed prose-li:text-slate-300 prose-li:leading-relaxed  prose-strong:text-sky-300  prose-ul:mt-4 prose-ul:mb-6 prose-ol:mt-4 prose-ol:mb-6  prose-img:rounded-xl ">
            {% include project.template %}
        </article>
        <!-- Tecnologias -->
        <h2 class="text-2xl font-semibold text-white mt-12 mb-4">Tecnologias</h2>
        <div class="flex flex-wrap gap-2">
            {% for tag in project.tags %}
                <span class="px-3 py-1 bg-blue-600/20 text-blue-300 rounded-lg text-sm">{{ tag }}</span>
            {% endfor %}
        </div>
        <!-- Ações -->
        <div class="mt-12 flex gap-4">
            {% if project.github != "private" %}
                <a href="{{ project.github }}"
                   target="_blank"
                   class="px-6 py-3 bg-blue-600 hover:bg-blue-700 rounded-lg text-white">Ver no GitHub</a>
            {% endif %}
            <a href="/projects"
               class="px-6 py-3 border border-gray-500 rounded-lg text-gray-300 hover:bg-gray-800">
                ← Voltar para Projetos
            </a>
        </div>
    </section>
{% endblock %}
